[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datazoom.social"]
	path = datazoom.social
	url = https://github.com/datazoompuc/datazoom.social
